@import 'utils';

.container {
  width: 75rem;
  margin: 2rem auto;

  @include mobile {
    width: 100%;
    padding: 0 1.6rem;
  }

  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0;
  }

  .card {
    display: block;
  }
}
