@import 'utils';

.card {
  padding: 3.2rem;
  box-shadow: var(--card-elevation);
  border-radius: 1.6rem;
  margin: 2rem 0;
  display: inline-block;
  background-color: var(--background-card);

  @include mobile {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
