@import 'utils.scss';

.card {
  padding: 3.2rem;
  box-shadow: var(--card-elevation);
  border-radius: 1.6rem;
  margin: 2rem 0;
  display: inline-block;
  background-color: var(--background-card);
}
