:root {
  --primary: #16a34a;
  --text-color: #000;
  --text-on-primary: #fff;
  --background: #fff;
  --red: #DC2626;
}

:root:is([dark]) {
  --primary: #4ADE80;
  --text-color: #fff;
  --text-on-primary: #000;
  --background: #000;
  --red: #F87171;
}
