@import-sanitize;
@import 'colors.scss';

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background: var(--background);
}

html, body, #root, main {
  width: 100%;
  height: 100%;
}

