@import 'utils.scss';

.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.card {
  width: min(100%, 55ch);

  h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;

    span {
      color: var(--primary);
    }
  }

  p + p {
    margin-top: 1.5rem;
  }

  .controls {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
