@import 'utils';

.container {
  display: grid;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;

  @include mobile {
    padding: 0 1.6rem;
  }

  .timeCard {
    width: min(100%, 45ch);
  }

  .teamsCard {
    width: min(100%, 70ch);
  }

  .card {
    h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      text-align: center;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  .timesContainer {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .spinner {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 0.4rem solid var(--primary);
    border-bottom-color: transparent;
    animation: spin 1.5s linear infinite;
    margin: 0 auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  background-color: var(--gray);
  padding: 1.2rem;
  border-radius: 0.6rem;
}
