@import 'utils';

.container {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;

  @include mobile {
    padding: 0 1.6rem;
  }

  h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  .time {
    margin-top: 2.4rem;
    font-size: 7.2rem;
    line-height: 1;

    @include mobile {
      font-size: 6.5rem;
    }
  }
}
